@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>

<p>This is Ahmed Monier Bio.</p>

<div class="row">


    <div class="col-md-4">
        <h2 style="color:dodgerblue;">PERSONAL INFORMATION</h2>
    </div>


    <div class="col-md-4">
        <h3>Ahmed Monier AboZaid El Adrosy</h3>
        <p>

            <ul>
                <li>
                    <img src="~/Content/Images/sensor.png" alt="My Address" style="width:20px; height:30px" /> From Mansoura (Egypt) – Lives in El Sheikh Zayed – Giza - Egypt
                </li>

                <li>
                    <img src="~/Content/Images/mobile.png" alt="Mobile #" style="width:20px; height:30px" /> +201066687028 / +201012304437
                </li>

                <li>
                    <img src="~/Content/Images/mail.png" alt="Email" style="width:20px; height:30px" /> 3adrosy.info@Gmail.com
                </li>

                <li>
                    <text style="color:dodgerblue;">Military Status</text>   Exempted
                </li>

            </ul>

        </p>
    </div>



    <div class="col-md-4">
        <img src="~/Content/Images/MyPhoto.png" alt="Person logo" style="resize:both; width:200px; height:300px" />
    </div>


</div>



<div class="row">


    <div class="col-md-4">
        <h2 style="color:dodgerblue;">OBJECTIVE</h2>
    </div>


    <div class="col-md-4" style="width:500px; justify-content:space-between;">
        <h3>My Goal</h3>
        <p style="justify-content:space-between;">
            I’m an ambitious Engineer looking for implementing the fact that “The best of you are those who learn the Science and teach it.”, and since my Science “IT” type is an applied one, I decided to work smart in the applied field in addition to the theoretical one in order to “Learn & help” going to achieve the Sustainable Development, which is in my opinion as an Engineer (Sustainable Development = Science with Ethics + Work with truthfulness) and this will be achieved through two parallel concurrent procedures: Diligence in science and effort at work.

        </p>
    </div>

</div>



<div class="row">


    <div class="col-md-4">
        <h2 style="color:dodgerblue;">Technical Skills Summery (ITI)</h2>
    </div>


    <div class="col-md-4" style="width:500px; justify-content:space-between;">
        <p style="justify-content:space-between;">

            <ul>
                <li>
                    <text style="color:dodgerblue;">Programming Languages</text> JavaScript, Advanced SQL Server 2012 developing, ASP.NET till version 5, AJAX, MVC 5 & 6, REST Web APIs (ASP.Net), Visual C# .NET, LINQ, Software Engineering.
                </li>

                <li>
                    <text style="color:dodgerblue;">Software Engineering</text> Agile Methodologies, Design Patterns, Object Oriented Analysis.
                </li>

                <li>
                    <text style="color:dodgerblue;">Backend</text> REST Web APIs (ASP.Net), AutoMapper.
                </li>

                <li>
                    <text style="color:dodgerblue;">Frontend</text> JavaScript, JSON, jQuery.
                </li>

                <li>
                    <text style="color:dodgerblue;">Frameworks & Techniques</text> Net, ASP MVC, ASP Web API, EF Code first, EF Database first.
                </li>

                <li>
                    <text style="color:dodgerblue;">Database</text> Entity Framework Database First & Code First database, SQL Server 2008, 2012, 2014, 2016, XML. Microsoft SQL Server 2012 - Business Intelligence, MS SQL 2012 Administration Server.
                </li>

                <li>
                    <text style="color:dodgerblue;">Tools & IDEs</text> Visual Studio 2005, 2008, 2010, 2012, 2013, 2015, POSTMAN, Ajax Toolkit, Adobe Illustrator CC, C6, All MS Office versions.
                </li>

                <li>
                    <text style="color:dodgerblue;">Servers</text> IIS, Azure, AMAZON
                </li>

                <li>
                    <text style="color:dodgerblue;">Libraries</text> JQuery, LeafletJS, OSM (Open Street Map).
                </li>

                <li>
                    <text style="color:dodgerblue;">Basics</text> XAML, CSS, CSS3, HTML, HTML5, Bootstrap, WordPress, WPF, WCF, UML, SharePoint 2010.
                </li>

                <li>
                    <text style="color:dodgerblue;">Source Control</text> TFS.
                </li>

            </ul>

        </p>
    </div>

</div>




<div class="row">


    <div class="col-md-4">
        <h2 style="color:dodgerblue;">FOR A COMPLETE CV</h2>
    </div>


    <div class="col-md-4">
        <h3>Kindly, view my CV on the following URL:</h3>
        <p>

            <ul>
                <li>
                    <a href="https://drive.google.com/file/d/0Bxz72upDuYXnMzhZdU9oTjJPSlRFeTJIbW9WVG1mODZfd2dz/view?usp=sharing">View My CV.</a>
                </li>

            </ul>

        </p>
    </div>

</div>
