@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <img src="~/Content/Images/Home.png" alt="Home" style="width:20px; height:30px" />
    <p>
        &radic;&radic; From Mansoura (Egypt) <br />
        &radic;&radic; Lives in El Sheikh Zayed – Giza - Egypt<br />
    </p>
    <abbr title="Phone"><img src="~/Content/Images/mobile.png" alt="Mobile #" style="width:20px; height:30px" /> </abbr>
    +201066687028 / +201012304437
</address>

<address>



       <a href="mailto:3adrosy.info@gmail.com"><img src="~/Content/Images/mail.png" alt="Email" style="width:20px; height:30px" /><strong>  Email Me</strong></a><br />
</address>